/* Chats */
.chat-buttons {
  right: 20px;
  bottom: 20px;
  z-index: 920 !important;
  position: fixed;
  animation: chatAnimation .5s;
}

@keyframes chatAnimation {
  from { 
    right: -120px; 
    opacity: 0;
  }
  to { 
    right: 20px;
    opacity: 1;
  }
}

.chat-ball {
  width: 60px;
  cursor: pointer;
  height: 60px;
  border-radius: 50%;
  margin-top: 5px;
  position: relative;
  z-index: 900 !important;
  transition: all .1s;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
}

.chat-ball::after {
  top: 50%;
  color: white;
  font-size: 32px !important;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) !important;
  font: normal normal normal 14px/1 FontAwesome;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .3) !important;
}

.chat-funcionario {
  background: rgb(60, 141, 188) !important;
  animation: chatFuncionarioAnim .5s;
}
.chat-funcionario:hover {
  background: rgb(13, 105, 158) !important;
}
.chat-funcionario::after {
  content: '\f086';
}

.chat-suporte {
  background: rgb(195, 60, 213) !important;
}
.chat-suporte:hover {
  background: rgb(165, 33, 182) !important;
}
.chat-suporte::after {
  content: '\f128';
}

.chat-boxes {
  position: fixed;
  bottom: 0px;
  right: -355px;
  z-index: 8000;
  display: flex;
}

.chat-box {
  margin-left: 10px;
  position: relative;
  width: 120px;
  right: 380px;
  height: 300px;
  bottom: -260px;
  transition: all .3s;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
  background: white;
}
.chat-box.open {
  bottom: 0px;
  width: 315px;
}

.chat-content {
  z-index: 900;
  height: calc(100% - 40px);
  overflow-y: auto;
}
.chat-box .titulo {
  position: relative;
  height: 40px;
  cursor: pointer;
  z-index: 901;
  width: 100%;
  line-height: 40px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .2) !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
  z-index: 901;
}
.chat-box.funcionario .titulo {
  background: rgb(30,144,255) !important;
}
.chat-box.funcionario .titulo:hover {
  background: rgb(30,144,255) !important;
}
.skin-igreja .chat-box.funcionario .titulo {
  background: rgb(155, 106, 184) !important;
}
.skin-igreja .chat-box.funcionario .titulo:hover {
  background: rgb(134, 75, 168) !important;
}
.chat-box.suporte .titulo {
  background: rgb(195, 60, 213) !important;
}
.chat-box.suporte .titulo:hover {
  background: rgb(166, 39, 182) !important;
}
.chat-box .titulo h1 {
  margin: 0px;
  padding: 0px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  line-height: 37px;
  margin-left: 10px;
  margin-right: 15px;
  font-size: 17px;
}
.chat-box .fa-times {
  position: absolute;
  top: -2px;
  right: -1px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
.chat-box .fa-arrow-left {
  position: absolute;
  top: 1px;
  left: -2px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
}
.chat-box .fa-comments-o {
  position: absolute;
  top: 1px;
  right: 2px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
.chat-box.dentro .titulo {
  padding-left: 18px;
  padding-right: 20px;
}
.chat-box .conversa {
  position: relative;
  padding: 10px;
  cursor: pointer;
  height: 52px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(220, 220, 220);
}
.chat-box .conversa:hover {
  background: rgb(240, 240, 240);
}
.conversa h1 {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 15px;
}
.conversa .status {
  margin-right: 10px;
  height: 15px;
  position: relative;
  top: 7px;
  width: 15px;
  border: 1px solid rgb(0, 0, 0, .2);
  background: red;
  border-radius: 50%;
}
.conversa .status.online {
  background: rgb(72, 213, 72);
}
.conversa-fora-content {
  position: relative;
  width: calc(100% - 60px);
  overflow: hidden;
}
.conversa-fora-content h1 {
  display: inline;
}
.conversa .ultima-msg {
  position: absolute;
  width: 300px;
  top: 15px;
  height: 60px;
  font-size: 13px;
}
.conversa-dentro {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.conversa-dentro .conteudo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
  overflow: auto;
}
.balao {
  position: relative;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  margin-bottom: 5px !important;
  background: rgb(226, 243, 255);
  border-radius: 3px;
  max-width: 100%;
  word-wrap: break-word;
  display: inline-block !important;
}
.balao .fa {
  font-size: 12px;
  position: relative;
  top: 1px;
  margin-left: 3px;
  color: rgba(0, 0, 0, .5);
}
.balao-container.meu .balao {
  background: rgb(220, 248, 198);
}
.balao-container.meu {
  text-align: right;
}
.ultima-msg-status {
  color: rgba(0, 0, 0, .5);
}
.balao-container.meu.lido .fa-check, .ultima-msg-status.lido {
  color: rgb(91, 184, 255);
} 
.balao span {
  font-size: 11px;
  margin-left: 7px;
}
.ultima-hora {
  position: absolute;
  font-size: 12px;
  top: 8px;
  right: 10px;
}
.ultima-msg-status {
  margin-right: 2px;
}
.chat-box:not(.dentro) .titulo-text-container {
  display: inline-block;
}
.chat-box:not(.dentro) .titulo-text-container * {
  display: inline-block;
}
.qtde-conversas {
  background: rgb(50, 194, 50);
  border: 1px solid rgba(0255, 255, 255, 1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
  width: 25px;
  color: white;
  position: absolute;
  height: 25px;
  font-size: 12px;
  text-align: center;
  line-height: 21px;
  margin-left: 10px;
  border-radius: 50%;
  animation: fadein .5s;
}
.titulo-cv {
  white-space: nowrap;
}
.titulo-text-container .qtde-conversas {
  top: 5px;
  left: 40px;
}
.titulo-cv .qtde-conversas {
  right: 0px;
  top: 0px;
  height: 20px;
  line-height: initial;
  width: 20px;
}
/* Chats */