/* Parte de dentro do login:
.login-logo-inner {
  width: auto;
  position: relative;
  display: inline-block;
}
/* Asa esquerda:
.login-logo-inner::before {
  position: absolute;
  content: '';
  right: -50px;
  top: 10px;
  height: calc(125px / 3.01);
  width: calc(142px / 3.01);
  background-size: cover;
  /* background-Image: url("./imagens/Logo-Login.png");
  animation: fadein 1s;
}
/* Asa direita:
.login-logo-inner::after {
  position: absolute;
  content: '';
  left: -50px;
  top: 10px;
  height: calc(125px / 3.01);
  width: calc(142px / 3.01);
  background-size: cover;
  transform:scaleX(-1);
  /* background-Image: url("./imagens/asa.png");
  animation: fadein 1s;
}  */
/* Parte de dentro do login: */
.login-imagem {
  position: relative;
  margin: 0px auto 35px;
  height: 130px;
  width: 190px;
  background-size: cover;
  background-Image: url("./imagens/Logo-Login.png");
  animation: fadein 1s;
}
/* Separador da tela de cadastro de perfil */
.cad-perfil-separador {
  position: relative;
  font-size: 16px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .07);
}
.cad-perfil-separador::before {
  content: '';
  position: absolute;
  top: 12px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 1px;
  background: rgba(0, 0, 0, .15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
}
/* Separador da tela de cadastro de perfil */

/* Modal de escala */
.fc-bg table tbody tr td:hover, .fc-content-skeleton table tbody tr td:hover,
.fc-content-skeleton table thead tr td:hover {
  cursor: pointer;
}
.modal-escala {
  height: 500px;
  overflow-y: auto;
}
.modal-escala .container-botoes {
  margin-bottom: 10px;
  text-align: right;
}
.modal-escala .container-botoes .btn-grupo {
  margin-right: 5px;
}
.modal-escala .container-grupo {
  margin-bottom: 5px;
  position: relative;
}
.modal-escala .container-grupo.indice-0 {
  background: rgba(142, 226, 47, 0.2);
}
.modal-escala .container-grupo.indice-1 {
  background: rgba(68, 226, 47, 0.2);
}
.modal-escala .container-grupo.indice-2 {
  background: rgba(47, 226, 107, 0.2);
}
.modal-escala .container-grupo.indice-3 {
  background: rgba(47, 226, 172, 0.2);
}
.modal-escala .container-grupo.indice-4 {
  background: rgba(47, 211, 226, 0.2);
}
.modal-escala .container-grupo.indice-5 {
  background: rgba(47, 145, 226, 0.2);
}
.modal-escala .container-grupo.indice-6 {
  background: rgba(47, 80, 226, 0.2);
}
.modal-escala .container-grupo.indice-7 {
  background: rgba(104, 47, 226, 0.2);
}
.modal-escala .container-grupo.indice-8 {
  background: rgba(175, 47, 226, 0.2);
}
.modal-escala .container-grupo.indice-9 {
  background: rgba(226, 47, 181, 0.2);
}
.modal-escala .container-grupo .btn-remover:hover {
  cursor: pointer;
  color: rgb(134, 132, 132);
}
.modal-escala .container-grupo .cabecalho .btn {
  vertical-align: baseline !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.modal-escala .container-grupo {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  animation: fadein .5s;
}
.modal-escala .container-grupo .cabecalho {
  text-align: center;
}
.modal-escala .nome-grupo {
  width: 300px;
  display: inline-block
}
.modal-escala .container-grupo .acoes {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}
.modal-escala .container-pessoa {
  display: flex;
  flex: 1;
}
.modal-escala .container-pessoa > * {
  display: flex;
  flex: 1;
  margin: 5px 5px 0px 5px;
}
.modal-escala .container-pessoa .btn-remover {
  position: relative;
  top: 2px;
  flex-wrap: wrap !important;
  flex: 0;
}
.modal-escala .container-pessoa .btn-remover:hover {
  cursor: pointer;
  color: rgb(134, 132, 132);
}
.modal-escala .container-grupo .acoes * {
  display: inline-block;
  margin-bottom: 5px;
}
.modal-escala .container-grupo .acoes .separador {
  height: 20px;
  width: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.219);
  margin: -4px 7px 0px 7px;
}
.modal-escala .container-grupo .acoes .btn-remover {
  font-size: 25px;
}
.modal-escala .container-grupo .acoes .titulo {
  font-size: 17px;
  font-weight: bold;
}
.modal-escala .mensagem-vazio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  color: rgb(200, 200, 200);
  pointer-events: none;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .05);
  animation: fadein .5s;
}
.modal-escala .mensagem-vazio-container h1 {
  font-size: 27px;
  font-weight: bold;
}
.modal-escala .mensagem-vazio-container span {
  font-size: 18px;
  font-weight: bold;
}
.escala-calendario-container {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
}
.modal-confirmacao-mov-oferta-dizimo {
  text-align: center;
  padding: 20px;
  font-size: 17px;
}
.barraCima {
  /* background: linear-gradient(to right, rgba(56,137,224,1) 0%, rgba(45,181,38,1) 100%); */
}
.visualiza-info-label {
  font-size: 18px;
  width: 100%;
  /* margin-bottom: 0px; */
  /* vai ser desse modo de baixo se essa classe de css ficar com a informação e não com a label */
  margin-bottom: 5px;
}