/* Faz com que o menu lateral tenha um barra 
de pesquisa no layout pequeno: */

body:not(.sidebar-collapse) .sidebar-menu {
  position: relative;
  z-index: 700 !important;
  height: calc(86vh - 154px);
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

@media (min-width: 767px) {
  /* Adapta a barra de pesquisa da barra lateral para o layout normal: */
  body:not(.sidebar-collapse) .sidebar-menu {
    height: calc(86vh - 104px);
  }
  /* Cria uma sombra e define largura padrão do cabeçalho
    do item de menu quando ele estiver collapsed: */
  .sidebar-collapse .sidebar-menu>li>a>span {
    width: 230px !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3) !important;
  }
  /* Define largura e sombra padrão nos sub-items quando
    eles estiverem collapsed: */
  .sidebar-collapse .sidebar-menu>li>ul {
    width: 230px !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3) !important;
  }
  /* Cria uma sombra e define largura padrão do cabeçalho
    do item de menu quando ele estiver collapsed: */
  .sidebar-collapse .treeview-menu {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3) !important;
    border: 1px solid rgba(0, 0, 0, .4) !important;
    border-radius: 0px !important;
  }
  /* Esconde o input de pesquisa quando o sidebar for
    collapsed */
  .sidebar-collapse .app-input-pesquisa-container {
    display: none;
  }
}

/* Define a largura do scrollbar (só funfa no chrome) */

.sidebar-menu::-webkit-scrollbar {
  width: 15px;
}

/* Define estilos do fundo do scrollbar */

.sidebar-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Define cor e extras da própria barra */

.sidebar-menu::-webkit-scrollbar-thumb {
  background-color: rgb(93, 93, 93);
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
  outline: 1px solid rgba(0, 0, 0, .8);
  cursor: pointer !important;
}

/* Define propriedades de estilo do input e o ícone da lupa  */

.app-input-pesquisa-container {
  position: relative;
}

.app-input-pesquisa-container .fa {
  position: absolute;
  color: white;
  top: 10px;
  right: 20px;
}

/* Define a cor da lupa como preta ao focar */

#app-input-pesquisa:focus~.fa {
  color: black;
}

/* Propriedades do input de pesquisa */

#app-input-pesquisa {
  border: none !important;
  position: relative;
  margin: 10px;
  border-radius: 4px;
  width: calc(100% - 20px);
  background: rgb(87, 87, 87);
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .5) !important;
  transition: all .3s;
}

#app-input-pesquisa:focus {
  background: white;
  color: black;
}

/* Define a bordinha branca nos itens do menu */

.sidebar-menu li {
  border-top: 1px solid rgba(255, 255, 255, .12) !important;
}

/* Sombrinha do lado direito do sidebar */

.main-sidebar {
  box-shadow: 2px 0px 2px rgba(0, 0, 0, .1);
}

/* Efeitinho ao passar rapido pelos menus: */

.skin-blue .sidebar-menu>li>a {
  transition: .1s !important;
}

.skin-blue .sidebar-menu>li>a:hover {
  background: #5FA9E8 !important;
  color: white !important;
  cursor: pointer !important;
}

.skin-blue .sidebar-menu>li.active>a {
  background: #5FA9E8 !important;
}

.skin-blue .sidebar-menu>li.active>ul {
  background: #4b664b3b !important;
}

.skin-blue .sidebar-menu>li>a:hover * {
  transition: none;
  color: white !important;
}

/* Define transições em todos os ícones: */

.fa {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box-header.hand:hover {
  background: rgb(240, 240, 240) !important;
  transition: background .05s;
}

/* Define sombra em todos elementos de forms: */

.form-control {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .05) !important;
}

/* Sombra em baixo da barra de navegação */

.navbar {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .21) !important;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  /* overflow-y: visible; */
}

@media (max-width: 790px) {
  .navbar.navbar-static-top {
    height: 51px;
  }
}

/* Mãozinha ao passar no cabeçalho: */

.nav-tabs>li:hover {
  cursor: pointer;
}

/* Acentua a borda em baixo do cabeçalho de abas */

.nav-tabs-custom>.nav-tabs {
  border-bottom-color: rgb(0, 0, 0, .1) !important;
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, .1) !important; */
  z-index: 1;
  position: relative;
  flex-wrap: wrap;
}

.nav-tabs-custom>.nav-tabs>li {
  margin-bottom: 0px !important;
  transition: all .15s;
  margin-right: 0px !important;
}

/* Espaço entre o ícone e o texto do cabeçalho da aba: */

.nav-tabs>li>a>i {
  margin-right: 5px;
}

/* Posição relativa */

.relative {
  position: relative;
}

/* ---- NOSSA TABELA PADRÃO (CADASTRO POR EXEMPLO) ---- */

/* Nossa tabela padrão ocupa todo espaço horizontal
  e tem uma sombra padrão fraca */

.table {
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1) !important;
  border: 1px solid rgb(162, 192, 211);
  margin-bottom: 0px !important;
  outline: none !important;
}

/* Container que possui todas as ações que ficam em cima da tabela
  (como por exemplo editar e excluir no cad. padrão) */

.table-action-container {
  margin: 10px 0px;
}

/* Mensagem que fica no centro da tabela vazia: */

.msg-table-vazio {
  font-size: 15px;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  margin: 10px;
}

/* Headers da tabela são sticky */

.table th {
  position: sticky;
  top: 0;
  border: none !important;
  z-index: 2;
}

/* Padrões de alternar linhas entre azul e branco: */

.table tr:nth-child(even) {
  background: rgba(44, 144, 223, .1);
}

/* Faz o corpo da tabela se adaptar ao tamanho da tabela e 
  da uma animação massa: */

.table tbody {
  display: block;
  overflow: auto;
  transition: height .4s;
  transition: max-height .4s;
}

/* Faz ajustes para o padrão: */

.table thead, .table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/*  */

.table thead tr {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1) !important;
}

/* Da uma animação fera ao surgir a linha */

.table tr {
  border: 1px solid rgba(0, 0, 0, .1);
  animation: fadein .5s;
}

/* Padding dos campos da tabela, deixa os registros menores: */

.table tbody tr td, .table tbody tr th, .table tbody tr td, .table tbody tr th, .table thead tr td, .table thead tr th {
  padding: 2px !important;
  padding-left: 10px !important;
}

/* Padrões das linhas da tabela */

.table td {
  transition: all .05s;
  border: 1px solid rgb(230, 230, 230);
  overflow-x: hidden;
}

/* Define estilos de linhas selecionáveis: */

.selectable-td {
  cursor: pointer;
}

.selectable-td.selected {
  color: white;
  font-weight: bold;
  background: rgba(60, 141, 188, .92);
  border: 2x solid rgba(255, 255, 255, .1);
}

/* Classes utilitárias simples (NÃO MODIFICAR) */

.flex {
  flex: 1
}

.flex-wrap {
  flex: 'wrap'
}

.ml-5 {
  margin-left: 5px
}

.mr-5 {
  margin-right: 5px
}

.mr-10 {
  margin-right: 10px
}

.mr-15 {
  margin-right: 15px
}

.m-10 {
  margin: 10px
}

.mt-10 {
  margin-top: 10px
}

.mt-5 {
  margin-top: 5px
}

.mb-5 {
  margin-bottom: 5px
}

/* Ajusta o estilo do footer do lte: */

.main-footer {
  position: fixed;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .2) !important;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, .07);
  padding: 4px 15px !important;
}

/* Padrões dos nossos botões: */

.btn, .btn-flat {
  transition: all .4s !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .2) !important;
  border: 1px solid rgba(0, 0, 0, .2) !important;
}

/* Faz com que os botões fiquem bem apagados
  ao desabilitar eles: */

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed !important;
  opacity: .35 !important;
}

.btn:focus, .btn-flat:focus {
  border: 1px solid white !important;
}

/* Tira a cor azul de foco ao selecionar o botao: */

.btn:active:focus {
  outline: none !important;
}

/* Deixa o botão de login centralizado no layout menor: */

.login-button-container {
  text-align: center;
}

/* Sombra no quadrado branco de login: */

.login-box-body {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
}

/* Padrões do conteúdo do usuário na barra de navegação,
  seta box-shadows e utilidades, só ler: */

.dropdown-toggle {
  text-decoration: none;
}

/* Mãozinha ao passar no botão: */

.dropdown-toggle, .sidebar-toggle {
  cursor: pointer;
}

/* Menu que tem as informações do usuário que é 
  expandido ao passar a mão: */

.dropdown-menu {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .2) !important;
  border-radius: 0px !important;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-animation: fadein 0.18s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.18s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.18s;
  /* Internet Explorer */
  -o-animation: fadein 0.18s;
  /* Opera < 12.1 */
  animation: fadein 0.18s;
}

/* Conteúdo principal da aba: */

.tab-content {
  padding: 0px !important;
  height: calc(100% - 47px) !important;
  flex: 1;
  -webkit-animation: fadein 0.18s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.18s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.18s;
  /* Internet Explorer */
  -o-animation: fadein 0.18s;
  /* Opera < 12.1 */
  animation: fadein 0.18s;
}

/* Animações de fadein para os browsers respectivos: */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Utilidade: */

.inline {
  display: inline;
}

/* Faz os itens do menu não serem selecionáveis pelo cursor: */

.sidebar-menu>li>a>span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Datepicker padrão: */

.ui-datepicker {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}

.bootstrap-timepicker-widget {
  width: 150px !important;
  border: 1px solid rgba(0, 0, 0, .1) !important;
  z-index: 30;
}

/* Icone que fica do lado esquerdo de certos
  componentes como o inputmask */

.input-group-addon {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .05);
}

/* Componente de fade-in padrão: (upfadein) */

.up-fade-in {
  opacity: 0;
  transition: all .3s;
  height: 100%;
}

.up-fade-in.active {
  opacity: 1 !important;
}

/* Mais método de utilidade: */

.text-uppercase {
  text-transform: uppercase !important
}

.opacity-05 {
  opacity: .5
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px
}

.p-10 {
  padding: 10px
}

.p-25 {
  padding: 25px
}

.h-100 {
  height: 100%
}

/* Borda completa em volta de algo: */

.light-full-border {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 1px;
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .05);
  margin-bottom: 5px;
}

/* Centraliza ícones do FA com o fa-center: */

.fa-2x.fa-center {
  left: calc(50% - 15px);
  top: calc(50% - 14px);
}

.fa-3x.fa-center {
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}

.fa-4x.fa-center {
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

.inline-block {
  display: inline-block;
}

.loading-spinner {
  color: black;
  position: absolute;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  left: 50%;
  top: 50%;
  z-index: 1000;
  animation: fadein .2;
}

.loading-wrapper-x {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  pointer-events: none;
  z-index: 5;
  animation: fadein .2;
}

/* Seta uma borda padrão no componente de select: */

select {
  border: 1px solid rgba(0, 0, 0, .2) !important;
}

/* Ao focar o select mostra uma borda azul: */

select:focus {
  border: 1px solid rgba(44, 144, 223) !important;
}

/* Separação de campos para não ficarem amontoados
  quando o layout diminuir: */

div.col-sm-1, div.col-sm-2, div.col-sm-3, div.col-sm-4, div.col-sm-5, div.col-sm-6, div.col-sm-7, div.col-sm-8, div.col-sm-9, div.col-sm-10, div.col-sm-11, div.col-sm-12 {
  padding-bottom: 10px;
}

/* Plano de fundo do login: */

.login-background {
  position: fixed;
  top: 0vh;
  left: 0vh;
  width: 100vw;
  height: 100vh;
  z-Index: -1;
  background-Position: 50% 50% !important;
  background-Size: cover !important;
  background-Image: url("../../imagens/login1.jpg") !important;
  animation: fadein 0.5s forwards;
}

/* Opacidade do plano de fundo do login: */

.login-background-container {
  /* opacity: .7; */
}

/* O Texto do login: */

.login-imagem {
  position: relative;
  font-weight: bold !important;
  color: rgb(60, 60, 60) !important;
  animation: loginImagemAnim .3s;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, .5), 0px 0px 10px rgba(255, 255, 255, .5), 0px 0px 10px rgba(255, 255, 255, .5), 0px 0px 10px rgba(255, 255, 255, .5);
}

/* Animação do login-imagem: */

@keyframes loginImagemAnim {
  from {
    top: -25px;
  }
  to {
    top: 0px
  }
}

/* Faz o nome da aplicação em destaque (na frente) */

.login-imagem span {
  position: relative;
  z-index: 300 !important;
}

/* Caixa branca que fica no login, tem dois inputs
  e o botão de entrar */

.login-box-body {
  position: relative;
  animation: loginBoxAnim .3s;
  /* border: 1px solid rgba(0, 0, 0, .5) !important; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .15) !important;
  border-radius: 4px !important;
  top: 50px;
}

/* Inputs padrão da caixa branca do login: */

.login-box-body input {
  padding-left: 37px !important;
  text-align: center;
}

/* Animação da caixa branca do login, aparece um
  pouco abaixo e vem subindo quando a tela se inicia */

@keyframes loginBoxAnim {
  from {
    top: 25px;
  }
  to {
    top: 0px
  }
}

/* Da uma bordinha massa pro toastr: */

.toastr {
  border: 2px solid white !important;
}

/* Box padrão do LTE: */

.box {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1) !important;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 0px !important;
}

/* Flecha de permissão do UtilPermissaoTelas */

.permissao-container {
  position: relative;
  margin-left: 7px;
}

/* Da um espaço esquerdo para o check box não 
  colar com a flechinha: */

.permissao-container .checkbox {
  margin-left: 12px;
}

/* Flecha de permissão para permissões
  que possuem filhos */

.arrow-permissao.filhos {
  margin-right: 5px;
  cursor: pointer;
  color: rgb(160, 160, 160);
  position: absolute;
  transform: translate(-50%, 0%);
  top: -1px;
  font-size: 23px !important;
  transition: none !important;
}

/* Flecha para permissões que não possuem filhos: */

.arrow-permissao:not(.filhos) {
  display: none;
}

/* Hover nas permissões que possuem filhos */

.arrow-permissao.filhos:hover {
  color: rgb(40, 40, 40);
}

/* Container dos botões da paginação: */

.cadastro-paginacao-container {
  font-size: 12px !important;
  border-top: 1px solid rgba(0, 0, 0, .10) !important;
  padding-top: 10px;
  margin-top: 12px;
  text-align: center;
}

/* Botões dentro da paginação */

.cadastro-paginacao-container .btn {
  font-size: 11px;
  font-weight: bold;
  margin-right: -1px;
  border-radius: 2px;
  margin-bottom: -1px;
  box-shadow: 0px 2px 2px rgba(214, 44, 44, 0.1) !important;
}

/* Botões ao focar */

.cadastro-paginacao-container .btn:focus {
  border: 1px solid rgba(0, 0, 0, .2) !important;
}

.cadastro-paginacao-container .setas {
  margin: 0px 10px;
}

.cadastro-paginacao-container .botao-paginacao {
  width: 30px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

body {
  background: transparent !important;
}

/* Componente principal do HTML, wrapper de tudo: */

#app {
  background: transparent !important;
  height: 100vh !important;
}

.content-wrapper {
  height: calc(100vh - 100px) !important;
  /* background: url('../../imagens/bg1.png'); Fundo de Bolinha*/
  background-repeat: repeat;
  overflow-y: auto !important;
}

@media (max-width: 768px) {
  .content-wrapper {
    height: calc(100vh - 150px) !important;
    overflow-y: auto !important;
  }
  .main-header>a {
    border-bottom: 1px solid rgba(0, 0, 0, .2) !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .1) !important;
    z-index: 1005 !important;
    position: relative;
  }
}

/* Botãozinho da config de campos que fica
  em cima do conteudo da aba de conteúdo
  no cadastro padrão: */

.config-campos-cog {
  position: fixed;
  font-size: 20px !important;
  right: 10px;
  margin-right: 25px;
  margin-top: -57px;
  padding: 7px;
  z-index: 90 !important;
  transition: all .1s;
  cursor: pointer;
  background: white;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .05);
}

.config-campos-cog:hover {
  background: rgb(240, 240, 240);
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, .2) !important;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, .07) !important;
}

/* Conteúdo principal do modal */

.modal-body {
  padding: 0px !important;
  margin: 0px !important;
}

/* Cabeçalho do modal: */

.modal-header {
  background: rgba(60, 141, 188, .92);
  border-bottom: 1px solid rgba(0, 0, 0, .4) !important;
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
}

/* Botão de fechar no cabeçalho do modal */

.modal-header .btn {
  opacity: .8;
  position: relative;
  top: 4px;
  color: white !important;
  box-shadow: none !important;
  border: none !important
}

/* A Caixa branca do modal que possui todos os
  componentes acima (body, header, footer, etc..) */

.modal-content {
  border-radius: 5px !important;
  box-shadow: 0px 50px 100px 10px rgba(0, 0, 0, .4) !important;
}

/* Conteúdo que fica dentro do modalbody
  e possui os checkboxes da config de campos */

.modal .config-campos-container {
  overflow: auto;
  padding: 20px;
  max-height: 400px !important;
}

/* Botões para selecionar ou desceleionar tudo: */

.modal .config-campos-buttons {
  border-top: 1px solid rgba(0, 0, 0, .2);
  padding: 10px;
}

/* Separação dos botões: */

.modal .config-campos-buttons .btn {
  margin-right: 5px;
}

/* Up panel */

@keyframes up-panel-animation {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 200px;
    opacity: 1;
  }
}

.autocomplete-resultados {
  position: absolute;
  animation: up-panel-animation .4s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .2);
  border-top: none !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: calc(100%);
  background: rgba(255, 255, 255, 0.99);
  overflow: auto;
  z-index: 99999999999 !important;
  height: 200px;
  top: 34px;
}

.autocomplete-resultados-inner {
  position: relative;
  width: 100%;
}

.up-panel-registro {
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;
  transition: all .035s;
  text-align: left;
}

.up-panel-registro:hover, .up-panel-registro.active {
  background: rgba(63, 166, 214, .8);
  color: white;
}

.autocomplete-container {
  position: relative;
}

.up-panel-container {
  position: relative;
}

.up-panel-container>div {
  display: flex;
  flex: 1;
}

.up-panel-codigo {
  flex-wrap: wrap;
  width: 70px !important;
  text-align: center;
  font-weight: bold;
  margin-right: -1px;
}

.up-panel-container input:focus {
  z-index: 1 !important;
}

.up-panel-descricao {
  flex: 1;
}

.up-panel-sem-registros {
  display: flex;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(130, 130, 130);
  animation: fadein .5s;
}

.up-panel-sem-registros h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.autocomplete-container .fa-times {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .2) !important;
  border: 1px solid rgba(0, 0, 0, .2) !important;
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: rgb(255, 73, 73);
  color: white;
  top: 26px;
  transition: none !important;
  right: 7px;
}

.autocomplete-container .fa-times:hover {
  background: rgb(255, 119, 119);
}

/* Up panel */

/* Tela de movimentação de contas a receber */

.mov-vr-total {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .05);
  color: rgb(100, 100, 100);
  font-weight: bold;
  animation: fadein .5s;
  font-size: 30px;
}

.mov-vr-total span {
  font-size: 15px;
  font-weight: normal;
  position: relative;
  top: -10px;
}

.mov-cr-cp-coluna {
  color: rgb(209, 7, 7) !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex !important;
  font-size: 20px !important;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  width: 100%;
  text-shadow: 2px 0 0 rgb(230, 230, 230), -2px 0 0 rgb(230, 230, 230), 0 2px 0 rgb(230, 230, 230), 0 -2px 0 rgb(230, 230, 230), 1px 1px rgb(230, 230, 230), -1px -1px 0 rgb(230, 230, 230), 1px -1px 0 rgb(230, 230, 230), -1px 1px 0 rgb(230, 230, 230);
  transition: background !important;
}

.mov-cr-cp-coluna.parcial {
  color: rgb(0, 153, 0) !important;
}

.mov-cr-cp-coluna.completa {
  color: rgb(0, 153, 0) !important;
}

/* Tela de movimentação de contas a receber */

/* Conteúdo da tab */

.tab-pane {
  animation: none;
  height: 100%;
}

/* Conteúdo da tab, porém ativa (a selecionada) */

.tab-pane.active {
  animation: fadein .35s !important;
  display: flex !important;
  flex-direction: column;
}

/* Separador dos botões de editar e incluir do cadastro,
  é aquela barrinha logo depois dos botões: */

.cad-acao-separador {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  margin-right: -15px;
  margin-left: 4px;
  height: 33px !important;
  border-radius: 0px !important;
  border-left: 1px solid rgb(0, 0, 0, .1) !important;
}

/*  */

.content-header {
  position: absolute;
  font-size: 20px !important;
  padding: 0px !important;
}

/* Título que fica na navbar: */

.voce-esta-em .titulo-header {
  color: #888;
  font-weight: bold;
}
/* Subconteudo do cabeçalho do wrapper */

.header-titulo:not(:hover) span {
  display: none;
}

/* Bagulho preto que é mostrado ao passar o 
  mouse no h1 principal: */

.header-titulo span {
  position: absolute;
  text-shadow: none !important;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 5px 15px;
  font-size: 14px;
  margin-top: 5px;
  color: white;
  z-index: 2000 !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
  border-radius: 30px;
  min-width: 400px !important;
  max-width: 400px !important;
  text-align: center;
  background: rgba(0, 0, 0, .8);
  animation: fadein .3s;
}

.content {
  height: 100% !important;
  padding: 10px !important;
}

/* Wrapper do componente inteiro de abas: */

.nav-tabs-custom {
  height: 100% !important;
  /* border: 1px solid rgba(0, 0, 0, .25) !important; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1) !important;
  margin-bottom: 0px !important;
  display: flex;
  flex-direction: column;
}

/* Rodapé padrão do page control */

.page-control-rodape {
  z-index: 1000 !important;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  background: rgb(250, 250, 250);
  border-top: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0px -2px 2px rgba(0, 0, 0, .07);
  justify-content: center !important;
  align-items: center !important;
}

.cad-msg-excluir .fa {
  font-size: 70px;
  color: rgb(210, 210, 210);
}

.cad-msg-excluir {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  padding: 30px;
  font-weight: bold;
  color: rgb(60, 60, 60);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .05);
  text-align: center;
  height: 100%;
}

.cad-msg-excluir span {
  font-size: 16px;
  font-weight: normal;
}

.tela-nao-habilitada .fa {
  font-size: 150px;
  color: rgb(161, 158, 158);
}

.tela-nao-habilitada {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  padding: 40px;
  font-weight: bold;
  color: rgb(60, 60, 60);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .05);
  text-align: center;
  height: 100%;
}

.tela-nao-habilitada span {
  font-size: 25px;
  font-weight: normal;
  padding: 10px;
}

/* Conteúdo interno do page-control */

.page-control-tab-inner-content {
  position: relative;
  padding: 10px !important;
  flex: 1;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.btn {
  transition: opacity .35s;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed !important;
  opacity: .35 !important;
}

.modal-parcelas-btn-gerar .fa {
  font-size: 25px;
}

.modal-parcelas-btn-gerar {
  margin-right: 0px !important;
  position: relative;
  /* top: 5px; */
  width: 100%;
  height: 60px;
}

.modal-gerar-parcelas tbody {
  max-height: 300px !important;
}

.ui-datepicker {
  border: 1px solid rgb(75, 150, 193) !important;
  border-radius: 1px !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2) !important;
  padding: 0px !important;
  z-index: 100000 !important;
}

.ui-datepicker-header {
  border: none !important;
  border-radius: 0px !important;
  color: white;
  font-weight: normal;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .1) !important;
  background: rgb(75, 150, 193);
}

.ui-datepicker-calendar thead tr {
  font-weight: normal !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.ui-datepicker-calendar thead tr th {
  font-weight: normal !important;
}

.ui-datepicker td {
  border: 1px solid rgba(235, 235, 235, 1) !important;
  padding: 0px !important;
}

.ui-datepicker td a {
  border: none !important;
  text-align: center;
  font-size: 14px;
  /* line-height: 15px; */
}

.table-msg-vazio-container * {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
  padding: 20px;
  color: rgb(180, 180, 180);
  text-align: center;
}

.fc-day:hover {
  background: rgb(235, 235, 235);
}

/*Allow pointer-events through*/

.fc-slats,
/*horizontals*/

.fc-content-skeleton,
/*day numbers*/

.fc-bgevent-skeleton
/*events container*/

  {
  pointer-events: none
}

/*Turn pointer events back on*/

.fc-bgevent, .fc-event-container {
  pointer-events: auto;
  /*events*/
}

.input-senha {
  position: relative;
}

.input-senha .icone {
  position: absolute;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 5px;
  top: 3px;
  right: 5px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10 !important;
}

.input-senha .icone.active {
  background-color: rgb(176, 204, 226);
}

.btn-default:hover {
  background: rgb(195, 195, 195) !important;
}

.btn.undefined:hover {
  background: rgb(195, 195, 195) !important;
}

.movimentacao .content {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  display: flex;
  flex-direction: column;
}

.movimentacao .mov-vr-total {
  top: 5px !important;
}

.bloco-valores {
  margin: 7px 0px 0px 0px !important;
  border-radius: 20px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .9) !important;
  border: 1px solid rgba(0, 0, 0, .1);
}

.small-box>.inner {
  /* padding: 0px !important; */
  /* color: black; */
}

.small-box .icon {
  /* top: -50px !important; */
}

.small-box .icon .fa::before {
  /* font-size: 55px !important; */
}

@media (max-width: 767px) {
  .small-box .icon {
    display: block !important;
  }
  .small-box h3 {
    font-size: 20px !important;
  }
}

.nome-igreja-header {
  color: #5a8e09;
  position: relative;
  left: 5px;
}

.content-wrapper .content .mensagemUsuario {
  background-color: rgb(195, 195, 211);
  border-radius: 20px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .9) !important;
  border: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 5px;
}

.content-wrapper .content .mensagemUsuario>h4 {
  text-align: center;
  color: red;
}

.user-panel {
  padding-bottom: 30px !important;
}

.user-panel .pull-left-image {
  position: fixed;
  width: 70px;
  height: 70px;
  transition: all 1.2s;
  z-Index: -1;
  background-Position: 50% 50% !important;
  background-Size: cover !important;
  background-Image: url("../../imagens/user.png") !important;
  border-radius: 50%;
}

.sidebar-collapse .user-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
}

.sidebar-collapse .user-panel .pull-left-image {
  width: 20px;
  height: 20px;
}

.user-panel .pull-left-info {
  position: relative;
  left: 90px;
  top: 10px;
  color: white;
}

.botao-associativa {
  padding-top: 15px;
  margin-top: 10px;
}

.botao-associativa .btn {
  margin-right: 10px;
}

.row.dashboard-aniversariantes {
  margin-top: 15px;
}

.caixa-fechado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding: 5px;
  font-weight: bold;
  color: rgb(60, 60, 60);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .05);
  text-align: center;
  height: 100%;
}

.caixa-fechado>#text {
  font: 600px;
}

.caixa-fechado .fa {
  font-size: 80px;
  color: rgb(161, 158, 158);
  height: 65px;
}

.caixa-fechado span {
  font-size: 25px;
  font-weight: normal;
  padding: 0 0 15px 0;
}

.checkboxComPadding {
  padding-right: 15px;
}

/* MULTIPLICAÇÃO DE CÉLULA */

.tabelaMultiplicacao {
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #c3bfbf;
  box-shadow: 5px 5px 8px 0px #ddd;
}

.tabelaMultiplicacao .registroEsquerdo {
  border-radius: 200px 0px 0px 200px;
  -moz-border-radius: 200px 0px 0px 200px;
  -webkit-border-radius: 200px 0px 0px 200px;
  /* border-bottom: 1px solid #868282; */
  text-align: justify;
  padding: 2px 10px 2px 16px;
}

.tabelaMultiplicacao .registroDireito {
  border-radius: 0px 200px 200px 0px;
  -moz-border-radius: 0px 200px 200px 0px;
  -webkit-border-radius: 0px 200px 200px 0px;
  border-bottom: 1px solid #868282;
  text-align: justify;
  padding-bottom: 5px;
}

.tabelaMultiplicacao .botaoSetas {
  margin-top: 20px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  font-size: 30px
}

@media(max-width: 1920px) {
  .login-box-body {
    position: absolute;
    width: 360px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.removerSpan {
  display: none;
}

.logo {
  background: #FFF !important;
}

.skin-blue .main-header .navbar {
  background: #FFF !important;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  color: #5FA9E8 !important
}

.skin-blue .main-header .navbar .nav>li>a {
  background: #5FA9E8;
  transition: all 0.5s;
}

.skin-blue .main-header .navbar .nav>li>a:hover {
  background: #5FA9E8 !important;
  opacity: 0.8;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background: transparent !important;
}

.logo-header {
  width: 50%
}

@media(min-width: 992px) {
  .voce-esta-em {
    font-size: 14px;
    color: #6b6b6b;
    top: 14px;
  }
  
  .voce-esta {
    font-family: 'Roboto', sans-serif;
    position: absolute !important;
    overflow: hidden;
    width: 100%;
    pointer-events: none;
    padding: 0px 10px;
    height: calc(100% - 27px);
    background: #FFF;
    text-align: left;
    -webkit-animation: fadein 4s;
    animation: fadein 4s;
    margin-left: 29px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nome-igreja-header {
    color: #5a8e09;
    position: relative;
    left: 5px;
  }
}

@media(max-width: 991px) {
  .voce-esta-em {
    font-size: 13px;
    color: #6b6b6b;
    top: 14px;
  }
  
  .voce-esta {
    font-family: 'Roboto', sans-serif;
    position: absolute !important;
    overflow: hidden;
    right: 0%;
    top: 50px;
    pointer-events: none;
    padding: 0px 10px;
    height: calc(100% - 27px);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1);
    background: #FFF;
    text-align: left;
    -webkit-animation: fadein 4s;
    animation: fadein 4s;
    /* text-shadow: 2px 0 0 rgba(0, 0, 0, .17), -2px 0 0 rgba(0, 0, 0, .17), 0 2px 0 rgba(0, 0, 0, .17), 0 -2px 0 rgba(0, 0, 0, .17), 1px 1px rgba(0, 0, 0, .17), -1px -1px 0 rgba(0, 0, 0, .17), 1px -1px 0 rgba(0, 0, 0, .17), -1px 1px 0 rgba(0, 0, 0, .17); */
    /* display: none; */
    /* margin-left: 29px; */
    top: 50px;
  }
  
  .nome-igreja-header {
    color: #5a8e09;
    position: relative;
    left: 5px;
  }
}

@media(max-width: 768px) {
  .logo-header {
    width: 15%
  }
} 
