@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif
}

/* .coluna-50 {
    width: 50%;
    height: 100%;
} */

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.coluna-50-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coluna-50-2 {
    width: 50%;
    height: 100%;
    background: #5FA9E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
    margin-top: 30px;
}

.formulario input {
    height: 60px;
    padding: 0 24px;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.form-control:focus{
    border: 2px solid #66afe9
}

.botao-login {
    height: 60px !important;
    background: #5FA9E8 !important;
    border-color: #5FA9E8 !important;
    border-radius: 8px !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 20px !important;
    color: #fff !important;
    margin-top: 20px;
    transition: all 0.5s;
}

.botao-login:focus {
    border: none !important;
}

.botao-login:hover {
    filter: brightness(95%);
}

.btn, .btn-flat {
    border: transparent !important;
}

.ilustracao {
    width: 100%;
    padding: 0 50px
}

@media(max-width: 768px) {
    .coluna-50-2 {
        display: none;
    }
    .coluna-50-1 {
        width: 100%;
    }
}

@media(max-width: 460px) {
    .formulario {
        padding: 0 15px
    }
}